<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ImageList</title>
</head>
<body>
<form method="POST" action="filteringImage">
    {% for image in images %}
        <input type="checkbox" name="image" value="{{ image._id }}">{{ image.filename }} - {{ image.points|length }}<br>
    {% endfor %}
    <input type="text" name="number" value="1000">점 갯수<br>
    <input type="text" name="width" value="50.0">width<br>
    <input type="text" name="leaf_size" value="1.0">leaf size<br>
    <input type="submit" value="전송">
</form>
</body>
</html>
